<html lang="en">

<body>

    <div class = "card">
        <h2 class = "subHeading"> What is git? </h2>
        <p>is free and open source software for distributed version control: tracking changes in any set of files, usually used for coordinating work among programmers collaboratively developing source code during software development.</p>
        
        <p> Features: </p>
    
        <ul>
            <li>Distributed systems are those which allow the users to perform work on a project from all over the world.</li>
            <li>Git is compatible with all the Operating Systems that are being used these days. Git repositories can also access the repositories of other Version Control Systems like SVN, CVK, etc.</li>
            <li>Git allows users from all over the world to perform operations on a project remotely. A user can pick up any part of the project and do the required operation and then further update the project. </li>
            <li>Git allows its users to work on a line that runs parallel to the main project files. These lines are called branches. Branches in Git provide a feature to make changes in the project without affecting the original version.</li>
            <li>Since Git stores all the data related to a project in the local repository by the process of cloning, it is very much efficient to fetch data from the local repository instead of doing the same from the remote repository.</li>
            <li>Git is a free and open-source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.</li>
            <li>Providing a central repository that is being cloned each time a User performs the Pull operation, the data of the central repository is always being backed up in every collaborator’s local repository.</li>
            <li>Git keeps a record of all the commits done by each of the collaborators on the local copy of the developer. </li>
    
        </ul>
    </div>
    
    
    <div class = "card">
        <h2 class = "subHeading"> What is Node?</h2>
        <p> Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that runs on a JavaScript Engine (i.e. V8 engine) and executes JavaScript code outside a web browser.</p>
    
        <p>Features:</p>
    
        <ul>
            <li>Asynchronous and Event-Driven: The Node.js library’s APIs are all asynchronous (non-blocking) in nature.</li>
            <li>Single-Threaded: Node.js employs a single-threaded architecture with event looping, making it very scalable. </li>
            <li>Scalable: NodeJs addresses one of the most pressing concerns in software development: scalability.</li>
            <li>Quick execution of code: Node.js makes use of the V8 JavaScript Runtime motor, which is also used by Google Chrome.</li>
            <li>Cross-platform compatibility: NodeJS may be used on a variety of systems, including Windows, Unix, Linux, Mac OS X, and mobile devices.</li>
            <li>Uses JavaScript: JavaScript is used by the Node.js library, which is another important aspect of Node.js from the engineer’s perspective.</li>
            <li>Fast data streaming: When data is transmitted in multiple streams, processing them takes a long time.</li>
        </ul>
    </div>

    <div class = "card">
        <h2 class = "subHeading"> What is NPM</h2>
        <p> npm (originally short for Node Package Manager) is a package manager for the JavaScript programming language maintained by npm, Inc.</p>
    
        <p>Features:</p>
    
        <ul>
            <li>Adapt packages of code for your apps, or incorporate packages as they are.</li>
            <li>Download standalone tools you can use right away.</li>
            <li>Run packages without downloading using npx.</li>
            <li>Share code with any npm user, anywhere.</li>
            <li>Restrict code to specific developers.</li>
            <li>Create organizations to coordinate package maintenance, coding, and developers.</li>
            <li>Form virtual teams by using organizations.</li>
            <li>Manage multiple versions of code and code dependencies.</li>
            <li>Update applications easily when underlying code is updated.</li>
            <li>Discover multiple ways to solve the same puzzle.</li>
            <li>Find other developers who are working on similar problems and projects.
            </li>
        </ul>
    </div>

    <div class = "card">
    <h2 class = "subHeading"> What is Express.js </h2>
    <p>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
    
    <p> Features: </p>

    <ul>
        <li>Express.js priveds many commonly used features of Node.js in the form of functions that can be readily used anywhere in the program.</li>
        <li>Middleware is a part of the program that has access to the database, client request, and other middlewares. is is mainly responsible for the systematic organization of different functions of Express.</li>
        <li>Provides highly advanced routing mechanism which helps to preserve the state of the webpage with the help of their URLs.</li>
        <li>Provides templating engines that allow the developers to build dynamic content on the web pages by building HTML templates on the server-side.</li>
        <li>makes debugging easier by providing a debuging mechanism that has the ability to pinpoint the exact part of the web application which has bugs.</li>
    </ul>
</div>

<div class = "card">
    <h2 class = "subHeading"> What is Heroku </h2>
    <p>Heroku is a cloud platform as a service (PaaS) supporting several programming languages. One of the first cloud platforms, Heroku has been in development since June 2007.</p>
    
    <p> Features: </p>

    <ul>
        <li>Free to Start</li>
        <li>As a leading platform as a service offering, Heroku is known for its ease of use.Developers can also opt for several different tier packages more suitable for large businesses’ complicated requirements.</li>
        <li>Heroku focuses on helping developers hone their skills to create feature-rich applications. The experience is favorable for developers as they access some valuable tools to accelerate core development processes.</li>
        <li>Heroku takes away the burden of server management and gives developers access to an easy-to-use web UI. One-click deployments are also quite convenient for developers once an application is running.</li>
        <li>Heroku PaaS relies on a Dyno for running the code written by developers. Each dyno is a container encapsulating resources such as memory, CPU, application code, and related dependencies.</li>
        <li>Heroku offers developers a secure way of developing applications due to its security features. Heroku ensures optimal security for servers and application code and prevents any possible issues.</li>
    </ul>
</div>

<div class = "card">
    <h2 class = "subHeading"> What is EJS? </h2>
    <p>EJS is a template system. You define HTML pages in the EJS syntax and you specify where various data will go in the page.</p>
    
    <p> Features: </p>

    <ul>
        <li>EJS ships with a basic in-process cache for caching the intermediate JavaScript functions used to render templates.</li>
        <li>Debugging done with simple JavaScript exceptions.</li>
        <li>EJS ships with a full-featured CLI. Options are similar to those used in JavaScript code</li>
        <li>EJS does not specifically support blocks, but layouts can be implemented by including headers and footers, like so:</li>
    </ul>
</div>


</body>
</html>